.web-option,
.web-optionLight {
  font-size: 18px;
  font-weight: 700;
}
.web-option i,
.web-optionLight i {
  text-decoration: none;
  transition: 0.2s;
  margin-right: 1rem;
  white-space: nowrap;
}
.web {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;
}
.web-option,
.web-option i {
  display: flex;
  align-items: center;
}
.web-option {
  margin-right: 16px;
  justify-content: center;
}
.web-option i {
  color: #fbf8f8;
  font-size: small;
}
.option-icon,
.web-optionLight {
  align-items: center;
  display: flex;
}
.web-option i:hover {
  color: #89d1d4;
}
.web-option i:active,
.web-optionLight i:active {
  transform: translate(2px, 2px);
}
.option-icon {
  padding: 4px;
  padding-right: 7px;
  border-radius: 15px;
  border: solid;
  border-color: transparent;
}
.web-option:last-child,
.web-optionLight:last-child {
  margin-right: 0;
}
.web:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-optionLight {
  margin-right: 16px;
  justify-content: center;
  z-index: 2;
}
.web-optionLight i {
  color: #242424;
  display: flex;
  align-items: center;
}
.web-optionLight i:hover {
  color: #790404;
}
