.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.anchor {
  cursor: pointer;
  transition: ease-in-out 300ms;
  color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 0px;
}
.anchor:hover {
  transform: scale(1.1);
}

.social-icon:hover {
  transform: scale(1.1);
}

#github,
#mail {
  filter: drop-shadow(0 1px 2px white);
}

@media only screen and (max-width: 720px) {
  .social-icons {
    height: 32px;
  }
}
