.skill-card{
    width: max-content;
    padding: 8px 16px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6px;
    border-radius: 8px;
    margin-bottom: 5rem;
    margin-top: 1rem;
    z-index: 2;
    position: relative;
}

.skill-icon {
    font-size: 80px;
}

.skill-name{
    font-size: 18px;
}

.scrum {
  width: 55px;
}
#animation{
  margin: 0;
}
.curve, .curveLight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve svg, .curveLight svg {
  position: relative;
  display: block;
  width: calc(234% + 1.3px);
  height: 60px;
}

.curve  .shape-fill {
  fill: #6b5b9f23;
}

.curveLight  .shape-fillLight {
  fill: #6d2c2c23;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .curve svg {
      width: calc(234% + 1.3px);
      height: 80px;
  }
}

@media only screen and (max-width: 1024px) {
    .skill-card {
      width: max-content;
      height: 100px;
    }
    
    .skill-icon {
      font-size: 60px;
    }
}
