.mobile-option i,
.mobile-optionLight i {
  text-decoration: none;
  font-size: 15px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
.mobile,
.mobileLight {
  background-color: #141e30f0;
  width: 98%;
  padding: 10px;
  padding-bottom: 15px;
  display: flex;
  border-top-left-radius: 200px 25px;
  border-top-right-radius: 200px 25px;
  border: 1px solid #ebebebee;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgb(137, 137, 137);
}
.mobile-option i,
.option-icon {
  align-items: center;
  display: flex;
}
.mobileLight {
  background-color: #ebebebe9;
  border: 1px solid #141e30e6;
}
.routeNames {
  font-size: 12px;
}
.mobile-optionLight {
  color: #9f5b5b;
}
.mobile-option,
.mobile-optionLight {
  display: flex;
  font-size: 15px;
  color: #fbf8f8;
}
.mobile-option i {
  color: #fbf8f8;
}
.option-icon {
  margin-right: 4px;
}
.mobile-optionLight i {
  color: #9f5b5b;
  display: flex;
  align-items: center;
}
