.contact,
.contact-container {
  justify-content: center;
  display: flex;
}
#button svg,
#button:hover svg,
#buttonLight svg,
#buttonLight:hover svg {
  animation: 2s linear infinite bounce;
}
.contact {
  align-self: center;
  flex-direction: column;
  width: 75%;
}
.noselect,
.noselectLight {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.contact-container {
  text-align: center;
}
.noselect,
.noselectLight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.noselect {
  background-color: #1f3d6d;
  background-image: linear-gradient(315deg, #1f3d6d 0, #162542 74%);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #bcbcbc;
}
.noselectLight {
  background-color: #d2bb87;
  background-image: linear-gradient(315deg, #d2bb87 0, #5f1212 74%);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 #262626;
}
#button,
#buttonLight {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 6rem;
  right: 2rem;
  font-size: 5px;
  z-index: 10;
  color: transparent;
}
#button svg,
#buttonLight svg {
  fill: white;
  width: 30px;
  height: 30px;
  position: absolute;
  padding-left: 0.5rem;
  padding-bottom: 0.6rem;
  display: flex;
}
#buttonLight svg {
  fill: black;
}
#button:before,
#buttonLight:before {
  content: "Back to Top";
  position: absolute;
  transform: translateX(-50%) translateY(25px);
  font-size: 10px;
  transition: 0.2s;
  color: transparent;
  font-weight: 700;
}
#button:hover {
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
  transform: scale(1.2);
}
#buttonLight:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
}
#button:hover::before {
  color: #fff;
}
#buttonLight:hover::before {
  color: #000;
}
@keyframes bounce {
  0%,
  100%,
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    transform: translateX(-50%) translateY(-65%);
  }
  75% {
    transform: translateX(-50%) translateY(-35%);
  }
}
#button:focus {
  outline: 0;
}
@media only screen and (max-width: 512px) {
  .contact,
  .contact-container {
    display: flex;
    margin-left: 0.5rem;
  }
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 95%;
  }
  .contact-container {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-right: 0.1rem;
  }
}
