.contact {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10rem;
    margin-right: 2rem;
}
.section-title {
    font-size: 32px;
    font-weight: 700;
    color: #67999b;
}

.section-titleLight {
    font-size: 32px;
    font-weight: 700;
    color: #9b6767;
}

.contact-container {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-right: 7rem;
    
}

.noselect, .noselectLight {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  
  .noselect {
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: #265f5d;
      background-image: linear-gradient(315deg, #2b706a 0%, #604c6d 74%);
      border: none;
      border-radius: 50%;
      transition: 200ms;
  }
  .noselectLight {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #692b2b;
    background-image: linear-gradient(315deg, #7f3232 0%, #7b5454 74%);
    border: none;
    border-radius: 50%;
    transition: 200ms;
}
  
  #button, #buttonLight {
      align-self: flex-end;
      margin-right: 2rem;
      font-size: 5px;
  }

  #button svg {
      fill: white;
      width: 30px;
      height: 30px;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      animation: bounce 2s infinite linear;
  }
  #buttonLight svg {
    fill: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    animation: bounce 2s infinite linear;
}
  
  #button:before, #buttonLight:before {
      content: 'Back to Top';
      position: absolute;
      transform: translateX(-50%) translateY(25px);
      font-size: 10px;
      transition: 200ms;
      color: transparent;
      font-weight: bold;
  }
  
  #button:hover {
      box-shadow: 0 1px 5px rgba(255, 255, 255, 0.2);
      transform: scale(1.2);
  }

  #buttonLight:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    transform: scale(1.2);
}
  
  #button:hover::before {
      color: #fff;
  }

  #buttonLight:hover::before {
    color: rgb(0, 0, 0);
}
  
  #button:hover svg, #buttonLight:hover svg {
          animation: bounce 2s infinite linear;
  }
  
  @keyframes bounce {
      0% {transform: translateX(-50%) translateY(-50%)}
      25% {transform: translateX(-50%) translateY(-65%)}
      50% {transform: translateX(-50%) translateY(-50%)}
      75% {transform: translateX(-50%) translateY(-35%)}
      100% {transform: translateX(-50%) translateY(-50%)}
  }
  
  #button:focus {
      outline: none;
  }

@media only screen and (max-width: 512px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 95%;
        margin-left: 0.5rem;
    }
    .contact-container {
        display: flex;
        flex: 1;
        justify-content: center;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.1rem;
        
    }
  }