.contact {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10rem;
    margin-right: 2rem;
}
.section-title {
    font-size: 32px;
    font-weight: 700;
    color: #00cdac;
}

.contact-container {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    margin-right: 7rem;
    
}
@media only screen and (max-width: 512px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 95%;
        margin-left: 0.5rem;
    }
    .contact-container {
        display: flex;
        flex: 1;
        justify-content: center;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.1rem;
        
    }
  }