.header,
.headerLight {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  align-self: center;
  background-color: #141e30;
  width: 75%;
  z-index: 3;
}
.headerLight {
  background-color: #ebebeb;
}

.menu,
.menuLight {
  background-color: #141e30;
  display: flex;
  justify-content: center;
}

.menuLight {
  background-color: #ebebeb;
}
.menu-icon,
.menu-iconLight {
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #6b5b9f;
}
.menu-iconLight {
  color: #9f5b5b;
}

.mobile-menu {
  display: none;
}
.web-menu {
  display: flex;
  justify-content: center;
}

.logo {
  height: 70px;
}

.toggleContainer {
  margin-right: 2rem;
}
@media only screen and (max-width: 820px) {
  .header,
  .headerLight {
    width: 90%;
  }
}
@media only screen and (max-width: 720px) {
  .header,
  .headerLight {
    display: sticky;
    position: sticky;
    align-items: center;
    top: -1px;
    width: 100%;
  }
  .mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  .web-menu {
    display: none;
  }
  .logo {
    margin-left: 5px;
    height: 50px;
  }
}
