.header{
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
    margin-left: 4rem;
    margin-right: 2rem;
    background-color: #141E30;
}
.headerLight{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
    margin-left: 4rem;
    margin-right: 2rem;
    background-color: #ebebeb
}
.menuLight{
    background-color: #ebebeb;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu{
    background-color: #141E30;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu-icon{
    font-size: 24px;
    color: #6b5b9f;
}
.menu-iconLight{
    font-size: 24px;
    color: #9f5b5b;
}

.mobile-menu{
    display: none;
}
.web-menu{
    display: flex;
}

.logo{
    height: 70px;
}


@media only screen and (max-width: 720px) {
    .header{
        width: 85%;
        display: flex;
        justify-content: space-between;
        flex: 1;
        position: relative;
        align-items: center;
        margin-left: 1rem;

    }
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .logo{
        font-size: 24px;
    }
}