#canvas1 {
    display: flex;
    position: relative;
    box-shadow: 20px, 20px, 20px, 20px azure;
    animation-name: intro;
    animation-duration: 4s;
    filter: drop-shadow(0 0 7px rgba(253, 254, 255, 0.813));
    width: fit-content;
    cursor :pointer;
    z-index: 2;
}
#canvas1:hover {
    transform: scale(1.1);
}
#canvas1:active {
    animation-name: outro;
    animation-duration: 4s;
}
#canvas1Light {
    display: flex;
    position: relative;
    box-shadow: 20px, 20px, 20px, 20px rgb(0, 0, 0);
    animation-name: intro;
    animation-duration: 4s;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.813));
    width: fit-content;
    cursor :pointer;
}
#canvas1Light:hover {
    transform: scale(1.1);
}
#canvas1Light:active {
    animation-name: outro;
    animation-duration: 4s;
}

@keyframes intro {
    0%   {right:1500px}
    100% {right:0px}
  }
  @keyframes outro {
    0%   {right:1500px}
    100% {right:0px}
  }

.controls {
    display: flex;
    flex-flow: column;
    width: fit-content;
    z-index: 2;
    margin: 0;
}
.controls div{
    margin-bottom: 1rem;
}
.controls, select, option {
    font-size: 15px;
    margin-bottom: 1rem;
}
#animations{
    margin: 0;
}
@media only screen and (max-width: 720px) {
    @keyframes intro {
        0%   {right:500px}
        100% {right:0px}
      }
}