.projects {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-right: 7rem;
}

@media only screen and (max-width: 720px) {
    .projects {
        max-width: 90%;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}