.project-card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.project-ytlink {
    width: 40%;
}
.project-photo {
    max-width: 600px;
    cursor: pointer;
    transition: 0.5s ease;
}
.project-photo:hover {
    max-width: 600px;
    transform: scale(1.01);
    filter: drop-shadow(0 0 7px rgba(253, 254, 255, 0.813));
}
.project-info{
    margin-right: 24px;
}

.project-title{
    font-size: 20px;
    font-weight: 600;
}

.project-tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.tag {
    padding:  4px 8px;
    background-color: blue;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
}

.project-links a {
    text-decoration: none;
    color: black;
}

.project-links{
    margin-top: 6px;
    display: flex;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
}

.link-button i {
    display: flex;
    align-items: center;
    mask-repeat: 4px;
}

@media only screen and (max-width: 720px) {
    .project-ytlink {
        width: 90%;
        margin-top: 2rem;
    }
    .project-photo {
        width: 100%;
    }
    .project-card {
        flex-direction: column;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
    }
    .project-tags {
        max-width: 90%;
    }
}