.separator {
  display: flex;
  width: 50vw;
  height: 2px;
  background: radial-gradient(
    circle,
    rgba(103, 153, 155, 1) 57%,
    rgba(107, 91, 159, 1) 100%
  );
  margin-top: 1rem;
  align-self: center;
}

.separatorLight {
  display: flex;
  width: 50vw;
  height: 2px;
  background: radial-gradient(
    circle,
    rgba(159, 91, 91, 1) 57%,
    rgba(95, 18, 18, 1) 100%
  );
  margin-top: 1rem;
  align-self: center;
}

.line {
  display: flex;
  width: 50vw;
  height: 2px;
  background: radial-gradient(
    circle,
    rgba(159, 91, 91, 1) 57%,
    rgba(95, 18, 18, 1) 100%
  );
  margin-left: 1rem;
  margin-top: 3rem;
  align-self: center;
}