.separator {
  background: rgb(103, 153, 155);
  background: radial-gradient(
    circle,
    rgba(103, 153, 155, 1) 0%,
    rgba(107, 91, 159, 1) 100%
  );
  height: 6px;
  width: 60%;
  border-radius: 3px;
  margin: 16px 0px;
  filter: opacity(0.5);
  box-shadow: 0 0 2px 1px white;
}

.separatorLight {
  background: rgb(159, 91, 91);
  background: radial-gradient(
    circle,
    rgba(159, 91, 91, 1) 0%,
    rgba(95, 18, 18, 1) 100%
  );
  height: 6px;
  width: 60%;
  border-radius: 3px;
  margin: 16px 0px;
  filter: opacity(0.5);
  box-shadow: 0 0 2px 1px black;
}
