.app {
    scroll-behavior: smooth;
    background-color: #090f1b;
    color:#d9ebff;
}

.appLight {
    background-color: #ebebeb;
    color: #090f1b;
}

#app{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    color: #67999b;
}

.section-titleLight {
    font-size: 32px;
    font-weight: 700;
    color: #9b6767;
}
