.app {
    scroll-behavior: smooth;
    background-color: #141E30;
    color:#d9ebff;
    padding-bottom: 7rem;
}

.appLight {
    background-color: #ebebeb;
    color: #141E30;
    padding-bottom: 7rem;
}

#app{
    display: flex;
    justify-content: center;
    flex-direction: column;
}