.about {
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.about-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-info {
    font-size: 32px;
    width: 150%;
    
}
.div-for-mobile {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}
.about-text {
    width: 50%;
    margin-right: 3rem;
}
.about-photo {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 50%;
}

.info-name {
    color: #00cdac;
    font-size: 50px;
}



@media only screen and (max-width: 820px) {
    .about-top{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    
    .div-for-mobile {
        display: flex;
        flex-flow: column-reverse;
        width: 90%;
        margin-top: 3rem;
    }
    .about-text {
        width: 80%;
        margin-left: 1rem;
    }
    .picture {
        height: 280px;
    }
    .about-info {
        font-size: 20px;
        width: 80%;
        align-self: center
    }
    .info-name {
        font-size: 26px;
        align-self: center;
    }
    .about-photo{
        width: 80%;
    }
}