.about {
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.about-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-info {
    font-size: 32px;
    width: 150%;
    align-self: flex-start;
    margin-top: 3rem;
    
}
.div-for-mobile {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.about-text {
margin-bottom: 3rem;
margin-left: 3rem;
}
.about-text p {
    max-height:600px;
}
.about-photo {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 50%;
}

.info-name {
    color: #67999b;
    font-size: 50px;
    background: linear-gradient(to right, #67999b 0, #6b5b9f 10%, #67999b 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
}
.info-nameLight {
    color: #71679b;
    font-size: 50px;
    background: linear-gradient(to right, #71679b 0, #c64848 10%, #71679b 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
}

.about-img, .about-imgLight{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem 1rem 1rem 0;
    filter: drop-shadow(0 0 2px rgba(253, 254, 255, 0.813));
}

.about-imgLight{
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.813));
}



@keyframes shine {
    0% {
        background-position: -30px;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}

.fullDiv {
    border-right: 2px solid rgba(245, 245, 245, 0.662);
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 4px;
    animation: typewriter 4s steps(30) normal, blinkTextCursor 0.5s infinite;
}
.fullDivLight {
    border-right: 2px solid rgba(6, 6, 6, 0.662);
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 4px;
    animation: typewriter 4s steps(30) normal, blinkTextCursorLight 0.5s infinite;
}

@keyframes typewriter {
    from {
        width: 0%;
    } to {
        width:60%;
    }
}

@keyframes blinkTextCursor {
    from {
      border-right-color:rgba(245, 245, 245, 0.662);
    } to {
        border-right-color:transparent;
    }
}
@keyframes blinkTextCursorLight {
    from {
      border-right-color:rgba(23, 23, 23, 0.662);
    } to {
        border-right-color:transparent;
    }
}

@media only screen and (max-width: 920px) {

    .about-top{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    
    .div-for-mobile {
        display: flex;
        flex-flow: column-reverse;
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .about-text {
        width: 80%;
        margin-left: 1rem;
    }
    .picture {
        height: 280px;
    }
    .about-info {
        font-size: 20px;
        width: 80%;
        align-self: center
    }
    .info-name, .info-nameLight {
        font-size: 26px;
        align-self: center;
    }
    
    .about-photo{
        width: 80%;
    }
    .fullDiv {
        border-right: 2px solid rgba(245, 245, 245, 0.662);
        width: fit-content;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 4px;
        animation: typewriter 4s steps(30) normal, blinkTextCursor 0.5s infinite;
    }
    .fullDivLight {
        border-right: 2px solid rgba(6, 6, 6, 0.662);
        width: fit-content;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: 4px;
        animation: typewriter 4s steps(30) normal, blinkTextCursorLight 0.5s infinite;
    }
    @keyframes typewriter {
        from {
            width: 0%;
        } to {
            width:80%;
        }
    }
    
    @keyframes blinkTextCursor {
        from {
          border-right-color:rgba(245, 245, 245, 0.662);
        } to {
            border-right-color:transparent;
        }
    }
    @keyframes blinkTextCursorLight {
        from {
          border-right-color:rgba(23, 23, 23, 0.662);
        } to {
            border-right-color:transparent;
        }
    }
    .info-name {
        color: #67999b;
        background: linear-gradient(to right, #67999b 0, #6b5b9f 10%, #67999b 20%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 6s infinite linear;
    }
    .info-nameLight {
        color: #71679b;
        background: linear-gradient(to right, #71679b 0, #c64848 10%, #71679b 20%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 6s infinite linear;
    }
    
    @keyframes shine {
        0% {
            background-position: -30px;
        }
        60% {
            background-position: 250px;
        }
        100% {
            background-position: 250px;
        }
    }

}