.about {
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-photo {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    margin-left: 1rem;
    width: 20%;
}

.about-info {
    font-size: 32px;
    width: 30%;
    
}
.info-name {
    color: #00cdac;
    font-size: 50px;
}
.about-text {
    width: 30%;
    margin-right: 1rem;
}


@media only screen and (max-width: 720px) {
    .about-top{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .div-for-mobile {
        display: flex;
        flex-flow: column-reverse;
        width: 90%;
        margin-top: 3rem;
    }
    .about-text {
        width: 80%;
        margin-left: 1rem;
    }
    .picture {
        height: 280px;
    }
    .about-info {
        font-size: 20px;
        width: 80%;
    }
    .info-name {
        font-size: 26px;
    }
    .about-photo{
        width: 80%;
    }
}