.blog {
  margin-bottom: 3rem;
  padding-bottom: 48px;
  max-width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 920px) {
  .blog {
    max-width: 100%;
    padding-bottom: 0;
  }
}
