.blogPostCard,
.blogPostCard-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #ddd;
  background: rgb(25, 25, 25);
  background: linear-gradient(
    337deg,
    rgb(13, 13, 13) 0%,
    rgb(20, 23, 40) 85%
  );
  border: 1px solid #3c3c3c;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.blogPostCard-light {
  color: #222;
  background: rgb(102, 102, 102);
  background: linear-gradient(
    333deg,
    rgb(129, 129, 129) 0%,
    rgba(221, 221, 221, 1) 55%
  );
  border: 1px solid #bfbfbf;
}

.text,
.text-light {
  max-width: 55%;
}
.title,
.title-light {
  font-weight: bolder;
}
.description,
.description-light {
  font-size: small;
  font-weight: lighter;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.imgContainer,
.imgContainer-light {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 2rem;
  position: relative;
}
.blogPostImg,
.blogPostImg-light {
  border-radius: 10px;
  border: 1px solid #3c3c3c;
  width: 95%;
  height: 95%;
}
.blogPostImg-light {
  border: 1px solid #bfbfbf;
}
.link,
.link-light {
  position: absolute;
  bottom: -10px;
  right: 5px;
  color: #ddd;
}
.link:hover,
.link-light:hover {
text-decoration: underline;
}
.link-light,
.blogPostCard-light,
.description-light,
.title-light {
  color: #222;
}

@media only screen and (max-width: 920px) {
  .blogPostCard,
  .blogPostCard-light {
    flex-direction: column;
    padding: 0.5rem;
  }
  .title,
  .title-light {
    font-size: medium;
  }
  .description,
  .description-light {
    font-size: x-small;
  }
  .text,
  .text-light,
  .imgContainer,
  .imgContainer-light {
    max-width: 95%;
  }
  .imgContainer,
  .imgContainer-light {
    padding-top: 0.5rem;
    width: 95%;
  }
  .link,
  .link-light {
    bottom: 5px;
    right: 50px;
    font-size: xx-small;
  }
}
