.blog, .blog-light {
  margin-bottom: 3rem;
  padding-bottom: 48px;
  max-width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  flex-direction: column;
}

.blogTitle, .blogTitle-light {
  place-self: start;
}

@media only screen and (max-width: 920px) {
  /* .blog {
    max-width: 100%;
    padding-bottom: 0;
    padding: 1rem;
  } */
}
