.blog,
.blog-light {
  padding-bottom: 48px;
  max-width: 75%;
  min-height: 68vh;
  align-self: center;
  display: flex;
}
.blogContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

@media only screen and (max-width: 920px) {
  .blog,
  .blog-light {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 55vh;
  }
}
